section.footer {
  background: var(--primary);
  border-top: 2px solid var(--text);
  color: var(--background);
  padding: 48px 0;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}