section.highlights {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0 32px;
}

.highlights-grid {
  display: grid;
  gap: 24px 48px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}